.kickstarter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1rem;
  background-color: rgb(005, 206, 120);
  a {
    border: none;
    img {
      position: absolute;
      left: 30px;
      bottom: 95%;
      width: 150px;
      margin: 0 0 0 0;
      padding: 0 0 0 0;
    }
  }
}

@media screen and (max-width: 700px) {
  .kickstarter {
    a {
      img {
        width: 85px;
        left: 15px;
      }
    }
  }
}